<style>
  @font-face {
  font-family: 'SB OTF M';
  font-weight: 100;
  src: url("../font/SB\ OTF\ M.otf") format(truetype);
}
</style>


<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="/" style="font-weight: 900;", style="font-family: SB OTF M">
    <img src="./images/logo.png" width ="30" heigh="30" class="d-inline-block align-top" alt="">
    MFC</a>

  

  <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 80%;" >
    
    <% if(session){%>
      <ul class="navbar-nav ml-auto">
        <form class="form-inline" action='/signout' method='get'>
          <button class="btn btn-outline-dark" type='submit'>로그아웃</button>
      </form>
      <li  class="nav-item" style="margin-top: 8px;"> <%=session%>님</li>
      

      </ul>
      <a href='/mypage/challenge/<%=session%>'>
        <img src="https://e7.pngegg.com/pngimages/612/745/png-clipart-thin-line-user-icon-icons-logos-emojis-users.png"  alt="Logo" style="width:40px;"> 
      </a>
      
  <%}else{%>
      <button type="button" class="btn btn-outline-dark mx-3" onclick="location.href='/signin'">로그인</button>
      <%}%>

      
  </div>
</nav>