<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>category</title>
</head>
<body>
    <div class="text-center"> 
        

            <nav class="navbar navbar-expand-sm justify-content-end bg-light fixed-top" > 

                <ul  class="navbar-nav " > 
                    
              
                  </li> 
              
                  <li class="nav-item justify-content-end"> 
              
                    <% if(session){%>
                        <form class="form-inline" action='/signout' method='get'>
                            <button class="btn btn-outline-dark" type='submit'>로그아웃</button>
                        </form>    
                    <%}else{%>
                        <button type="button" class="btn btn-outline-dark mx-3" onclick="location.href='/signin'">로그인</button>
                        <%}%>
              
                  </li> 

                

                  
              <li  class="navbar-text active justify-content-end"> 
                <% if(session){%>
                안녕하세요 <%=nickname%>님
              
              
                <li>
                    <img src="https://e7.pngegg.com/pngimages/612/745/png-clipart-thin-line-user-icon-icons-logos-emojis-users.png" alt="Logo" style="width:40px;"> 
              
                  </li> 
                  <%}%>
                </ul> 
              
              </nav> 
    


            <div class="" style="margin-top: 8%;">
                <button type="button" class="btn btn-outline-dark mx-5 my-5" onclick="location.href='/list/1'"><img src="https://item.kakaocdn.net/do/6862fba2295ce6299936c3a12ef7a9fcf43ad912ad8dd55b04db6a64cddaf76d" height ="200" width="200"><p>운동</p></button>
                <button type="button" class="btn btn-outline-dark mx-5 my-5" onclick="location.href='/list/2'"><img src="https://i.pinimg.com/originals/d9/44/14/d944141d350c211238576f3b9b944d37.gif" height="200" width="200"><p>요리</p></button><br>
                <button type="button" class="btn btn-outline-dark mx-5 my-5" onclick="location.href='/list/3'"><img src="https://i.pinimg.com/originals/27/bf/8f/27bf8f6b33a219aa2db9c069b49195c5.gif" height="200" width="200"><p>음악</p></button>
                <button type="button" class="btn btn-outline-dark mx-5 my-5" onclick="location.href='/list/4'"><img src="https://i.pinimg.com/originals/94/7e/26/947e265b4da2f6c2f189bf16331a671b.gif" height="200" width="200"><p>기타</p></button>
            </div>
        </div>

   

</body>
</html>